:root {
    --primaryprimary-50: rgba(235, 235, 235, 1);
    --primaryprimary-100: rgba(217, 217, 217, 1);
    --primaryprimary-200: rgba(157, 167, 255, 1);
    --primaryprimary-300: rgba(112, 127, 255, 1);
    --primaryprimary-400: rgba(85, 102, 255, 1);
    --primaryprimary-500: rgba(54, 54, 54, 1);
    --primaryprimary-600: rgba(38, 58, 232, 1);
    --primaryprimary-700: rgba(30, 45, 181, 1);
    --primaryprimary-800: rgba(23, 35, 140, 1);
    --primaryprimary-900: rgba(23, 23, 23, 1);
    --neutralneutral-50: rgba(243, 243, 243, 1);
    --neutralneutral-100: rgba(216, 216, 216, 1);
    --neutralneutral-200: rgba(198, 198, 198, 1);
    --neutralneutral-300: rgba(171, 171, 171, 1);
    --neutralneutral-400: rgba(155, 155, 155, 1);
    --neutralneutral-500: rgba(130, 130, 130, 1);
    --neutralneutral-600: rgba(118, 118, 118, 1);
    --neutralneutral-700: rgba(92, 92, 92, 1);
    --neutralneutral-800: rgba(72, 72, 72, 1);
    --neutralneutral-900: rgba(55, 55, 55, 1);
    --neutral-2neutral-2-50: rgba(254, 254, 254, 1);
    --neutral-2neutral-2-100: rgba(251, 251, 251, 1);
    --neutral-2neutral-2-200: rgba(249, 249, 249, 1);
    --neutral-2neutral-2-300: rgba(247, 247, 247, 1);
    --neutral-2neutral-2-400: rgba(245, 245, 245, 1);
    --neutral-2neutral-2-500: rgba(243, 243, 243, 1);
    --neutral-2neutral-2-600: rgba(221, 221, 221, 1);
    --neutral-2neutral-2-700: rgba(173, 173, 173, 1);
    --neutral-2neutral-2-800: rgba(134, 134, 134, 1);
    --neutral-2neutral-2-900: rgba(102, 102, 102, 1);
    --secondarysecondary-50: rgba(239, 252, 237, 1);
    --secondarysecondary-100: rgba(204, 246, 198, 1);
    --secondarysecondary-200: rgba(180, 241, 171, 1);
    --secondarysecondary-300: rgba(146, 235, 132, 1);
    --secondarysecondary-400: rgba(125, 231, 109, 1);
    --secondarysecondary-500: rgba(92, 225, 72, 1);
    --secondarysecondary-600: rgba(84, 205, 66, 1);
    --secondarysecondary-700: rgba(65, 160, 51, 1);
    --secondarysecondary-800: rgba(51, 124, 40, 1);
    --secondarysecondary-900: rgba(39, 95, 30, 1);
    --secondary-2secondary-2-50: rgba(252, 238, 237, 1);
    --secondary-2secondary-2-100: rgba(246, 203, 198, 1);
    --secondary-2secondary-2-200: rgba(241, 177, 171, 1);
    --secondary-2secondary-2-300: rgba(235, 142, 132, 1);
    --secondary-2secondary-2-400: rgba(231, 120, 109, 1);
    --secondary-2secondary-2-500: rgba(225, 86, 72, 1);
    --secondary-2secondary-2-600: rgba(205, 78, 66, 1);
    --secondary-2secondary-2-700: rgba(160, 61, 51, 1);
    --secondary-2secondary-2-800: rgba(124, 47, 40, 1);
    --secondary-2secondary-2-900: rgba(95, 36, 30, 1);
    --secondary-3secondary-3-50: rgba(254, 248, 237, 1);
    --secondary-3secondary-3-100: rgba(253, 234, 200, 1);
    --secondary-3secondary-3-200: rgba(251, 224, 174, 1);
    --secondary-3secondary-3-300: rgba(250, 210, 137, 1);
    --secondary-3secondary-3-400: rgba(249, 201, 114, 1);
    --secondary-3secondary-3-500: rgba(247, 188, 79, 1);
    --secondary-3secondary-3-600: rgba(225, 171, 72, 1);
    --secondary-3secondary-3-700: rgba(175, 133, 56, 1);
    --secondary-3secondary-3-800: rgba(136, 103, 43, 1);
    --secondary-3secondary-3-900: rgba(104, 79, 33, 1);
    --foundation-blueblue-900: rgba(3, 20, 52, 1);
    --secondary-1secondary-1-500: rgba(225, 86, 72, 1);
    --body-10-r-font-family: "Montserrat", Helvetica;
    --body-10-r-font-weight: 400;
    --body-10-r-font-size: 10px;
    --body-10-r-letter-spacing: 0px;
    --body-10-r-line-height: 130.9000015258789%;
    --body-10-r-font-style: normal;
    --body-10-m-font-family: "Montserrat", Helvetica;
    --body-10-m-font-weight: 500;
    --body-10-m-font-size: 8px;
    --body-10-m-letter-spacing: 0px;
    --body-10-m-line-height: 130.9000015258789%;
    --body-10-m-font-style: normal;
    --body-10-SB-font-family: "Montserrat", Helvetica;
    --body-10-SB-font-weight: 600;
    --body-10-SB-font-size: 10px;
    --body-10-SB-letter-spacing: 0px;
    --body-10-SB-line-height: 130.9000015258789%;
    --body-10-SB-font-style: normal;
    --body-10-b-font-family: "Montserrat", Helvetica;
    --body-10-b-font-weight: 700;
    --body-10-b-font-size: 10px;
    --body-10-b-letter-spacing: 0px;
    --body-10-b-line-height: 130.9000015258789%;
    --body-10-b-font-style: normal;
    --body-12-r-font-family: "Montserrat", Helvetica;
    --body-12-r-font-weight: 400;
    --body-12-r-font-size: 12px;
    --body-12-r-letter-spacing: 0px;
    --body-12-r-line-height: 130.9000015258789%;
    --body-12-r-font-style: normal;
    --body-12-m-font-family: "Montserrat", Helvetica;
    --body-12-m-font-weight: 500;
    --body-12-m-font-size: 12px;
    --body-12-m-letter-spacing: 0px;
    --body-12-m-line-height: 130.9000015258789%;
    --body-12-m-font-style: normal;
    --body-12-SB-font-family: "Montserrat", Helvetica;
    --body-12-SB-font-weight: 600;
    --body-12-SB-font-size: 12px;
    --body-12-SB-letter-spacing: 0px;
    --body-12-SB-line-height: 130.9000015258789%;
    --body-12-SB-font-style: normal;
    --body-12-b-font-family: "Montserrat", Helvetica;
    --body-12-b-font-weight: 700;
    --body-12-b-font-size: 12px;
    --body-12-b-letter-spacing: 0px;
    --body-12-b-line-height: 130.9000015258789%;
    --body-12-b-font-style: normal;
    --body-14-r-font-family: "Montserrat", Helvetica;
    --body-14-r-font-weight: 400;
    --body-14-r-font-size: 14px;
    --body-14-r-letter-spacing: 0px;
    --body-14-r-line-height: 130.9000015258789%;
    --body-14-r-font-style: normal;
    --body-14-m-font-family: "Montserrat", Helvetica;
    --body-14-m-font-weight: 500;
    --body-14-m-font-size: 14px;
    --body-14-m-letter-spacing: 0px;
    --body-14-m-line-height: 130.9000015258789%;
    --body-14-m-font-style: normal;
    --body-14-SB-font-family: "Montserrat", Helvetica;
    --body-14-SB-font-weight: 600;
    --body-14-SB-font-size: 14px;
    --body-14-SB-letter-spacing: 0px;
    --body-14-SB-line-height: 130.9000015258789%;
    --body-14-SB-font-style: normal;
    --body-14-b-font-family: "Montserrat", Helvetica;
    --body-14-b-font-weight: 700;
    --body-14-b-font-size: 14px;
    --body-14-b-letter-spacing: 0px;
    --body-14-b-line-height: 130.9000015258789%;
    --body-14-b-font-style: normal;
    --body-16-r-font-family: "Montserrat", Helvetica;
    --body-16-r-font-weight: 400;
    --body-16-r-font-size: 16px;
    --body-16-r-letter-spacing: 0px;
    --body-16-r-line-height: 130.9000015258789%;
    --body-16-r-font-style: normal;
    --body-16-m-font-family: "Montserrat", Helvetica;
    --body-16-m-font-weight: 500;
    --body-16-m-font-size: 16px;
    --body-16-m-letter-spacing: 0px;
    --body-16-m-line-height: 130.9000015258789%;
    --body-16-m-font-style: normal;
    --body-16-SB-font-family: "Montserrat", Helvetica;
    --body-16-SB-font-weight: 600;
    --body-16-SB-font-size: 16px;
    --body-16-SB-letter-spacing: 0px;
    --body-16-SB-line-height: 130.9000015258789%;
    --body-16-SB-font-style: normal;
    --body-16-b-font-family: "Montserrat", Helvetica;
    --body-16-b-font-weight: 700;
    --body-16-b-font-size: 16px;
    --body-16-b-letter-spacing: 0px;
    --body-16-b-line-height: 130.9000015258789%;
    --body-16-b-font-style: normal;
    --header-18-r-font-family: "Montserrat", Helvetica;
    --header-18-r-font-weight: 400;
    --header-18-r-font-size: 18px;
    --header-18-r-letter-spacing: 0px;
    --header-18-r-line-height: 130.9000015258789%;
    --header-18-r-font-style: normal;
    --header-18-m-font-family: "Montserrat", Helvetica;
    --header-18-m-font-weight: 500;
    --header-18-m-font-size: 18px;
    --header-18-m-letter-spacing: 0px;
    --header-18-m-line-height: 130.9000015258789%;
    --header-18-m-font-style: normal;
    --header-18-SB-font-family: "Montserrat", Helvetica;
    --header-18-SB-font-weight: 600;
    --header-18-SB-font-size: 18px;
    --header-18-SB-letter-spacing: 0px;
    --header-18-SB-line-height: 130.9000015258789%;
    --header-18-SB-font-style: normal;
    --header-18-b-font-family: "Montserrat", Helvetica;
    --header-18-b-font-weight: 700;
    --header-18-b-font-size: 18px;
    --header-18-b-letter-spacing: 0px;
    --header-18-b-line-height: 130.9000015258789%;
    --header-18-b-font-style: normal;
    --header-20-r-font-family: "Montserrat", Helvetica;
    --header-20-r-font-weight: 400;
    --header-20-r-font-size: 20px;
    --header-20-r-letter-spacing: 0px;
    --header-20-r-line-height: 130.9000015258789%;
    --header-20-r-font-style: normal;
    --header-20-m-font-family: "Montserrat", Helvetica;
    --header-20-m-font-weight: 500;
    --header-20-m-font-size: 20px;
    --header-20-m-letter-spacing: 0px;
    --header-20-m-line-height: 130.9000015258789%;
    --header-20-m-font-style: normal;
    --header-20-SB-font-family: "Montserrat", Helvetica;
    --header-20-SB-font-weight: 600;
    --header-20-SB-font-size: 20px;
    --header-20-SB-letter-spacing: 0px;
    --header-20-SB-line-height: 130.9000015258789%;
    --header-20-SB-font-style: normal;
    --header-20-b-font-family: "Montserrat", Helvetica;
    --header-20-b-font-weight: 700;
    --header-20-b-font-size: 20px;
    --header-20-b-letter-spacing: 0px;
    --header-20-b-line-height: 130.9000015258789%;
    --header-20-b-font-style: normal;
    --header-24-r-font-family: "Montserrat", Helvetica;
    --header-24-r-font-weight: 400;
    --header-24-r-font-size: 24px;
    --header-24-r-letter-spacing: 0px;
    --header-24-r-line-height: 130.9000015258789%;
    --header-24-r-font-style: normal;
    --header-24-m-font-family: "Montserrat", Helvetica;
    --header-24-m-font-weight: 500;
    --header-24-m-font-size: 24px;
    --header-24-m-letter-spacing: 0px;
    --header-24-m-line-height: 130.9000015258789%;
    --header-24-m-font-style: normal;
    --header-24-SB-font-family: "Montserrat", Helvetica;
    --header-24-SB-font-weight: 600;
    --header-24-SB-font-size: 24px;
    --header-24-SB-letter-spacing: 0px;
    --header-24-SB-line-height: 130.9000015258789%;
    --header-24-SB-font-style: normal;
    --header-24-b-font-family: "Montserrat", Helvetica;
    --header-24-b-font-weight: 700;
    --header-24-b-font-size: 24px;
    --header-24-b-letter-spacing: 0px;
    --header-24-b-line-height: 130.9000015258789%;
    --header-24-b-font-style: normal;
    --header-32-r-font-family: "Montserrat", Helvetica;
    --header-32-r-font-weight: 400;
    --header-32-r-font-size: 32px;
    --header-32-r-letter-spacing: 0px;
    --header-32-r-line-height: 41.88800048828125px;
    --header-32-r-font-style: normal;
    --header-32-m-font-family: "Montserrat", Helvetica;
    --header-32-m-font-weight: 500;
    --header-32-m-font-size: 32px;
    --header-32-m-letter-spacing: 0px;
    --header-32-m-line-height: 41.88800048828125px;
    --header-32-m-font-style: normal;
    --header-32-SB-font-family: "Montserrat", Helvetica;
    --header-32-SB-font-weight: 600;
    --header-32-SB-font-size: 32px;
    --header-32-SB-letter-spacing: 0px;
    --header-32-SB-line-height: 41.88800048828125px;
    --header-32-SB-font-style: normal;
    --header-32-b-font-family: "Montserrat", Helvetica;
    --header-32-b-font-weight: 700;
    --header-32-b-font-size: 32px;
    --header-32-b-letter-spacing: 0px;
    --header-32-b-line-height: 41.88800048828125px;
    --header-32-b-font-style: normal;
    --header-40-r-font-family: "Montserrat", Helvetica;
    --header-40-r-font-weight: 400;
    --header-40-r-font-size: 40px;
    --header-40-r-letter-spacing: 0px;
    --header-40-r-line-height: 52.36000061035156px;
    --header-40-r-font-style: normal;
    --header-40-m-font-family: "Montserrat", Helvetica;
    --header-40-m-font-weight: 500;
    --header-40-m-font-size: 40px;
    --header-40-m-letter-spacing: 0px;
    --header-40-m-line-height: 52.36000061035156px;
    --header-40-m-font-style: normal;
    --header-40-SB-font-family: "Montserrat", Helvetica;
    --header-40-SB-font-weight: 600;
    --header-40-SB-font-size: 40px;
    --header-40-SB-letter-spacing: 0px;
    --header-40-SB-line-height: 52.36000061035156px;
    --header-40-SB-font-style: normal;
    --header-40-b-font-family: "Montserrat", Helvetica;
    --header-40-b-font-weight: 700;
    --header-40-b-font-size: 40px;
    --header-40-b-letter-spacing: 0px;
    --header-40-b-line-height: 52.36000061035156px;
    --header-40-b-font-style: normal;
    --collection-1-text: rgba(255, 255, 255, 1);
    --collection-1-BG: rgba(253, 253, 253, 1);
    --collection-1-color-for-rect: rgba(250, 250, 250, 1);
    --collection-1-text-black: rgba(0, 0, 0, 1);
    --collection-1-primary-v2: rgba(41, 67, 109, 1);
    --variable-collection-text-white: rgba(255, 255, 255, 1);
  }
  