.settings {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.settings .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1610px;
  position: relative;
}

.settings .frame {
  display: flex;
  width: 1442px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 80px;
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: var(--collection-1-text);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--neutralneutral-50);
}

.settings .group {
  position: relative;
  width: 147.12px;
  height: 44.95px;
}

.settings .asset {
  position: absolute;
  width: 40px;
  height: 45px;
  top: 0;
  left: 0;
}

.settings .lexi-read {
  position: absolute;
  width: 95px;
  height: 17px;
  top: 14px;
  left: 53px;
}

.settings .vector {
  position: absolute;
  width: 12px;
  height: 16px;
  top: 0;
  left: 83px;
}

.settings .img {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 5px;
  left: 69px;
}

.settings .vector-2 {
  position: absolute;
  width: 11px;
  height: 12px;
  top: 5px;
  left: 56px;
}

.settings .vector-3 {
  position: absolute;
  width: 13px;
  height: 15px;
  top: 1px;
  left: 42px;
}

.settings .vector-4 {
  position: absolute;
  width: 4px;
  height: 16px;
  top: 0;
  left: 36px;
}

.settings .vector-5 {
  position: absolute;
  width: 12px;
  height: 11px;
  top: 5px;
  left: 22px;
}

.settings .vector-6 {
  position: absolute;
  width: 11px;
  height: 12px;
  top: 5px;
  left: 10px;
}

.settings .vector-7 {
  position: absolute;
  width: 9px;
  height: 15px;
  top: 1px;
  left: 0;
}

.settings .frame-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.settings .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 10px;
}

.settings .text-wrapper {
  color: var(--collection-1-text-black);
  font-size: 16px;
  text-align: center;
  line-height: 20.9px;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  white-space: nowrap;
}

.settings .frame-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 12px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 10px;
}

.settings .frame-4 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.settings .frame-5 {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 1000px;
  background-size: cover;
  background-position: 50% 50%;
}

.settings .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: var(--collection-1-text-black);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.9px;
  white-space: nowrap;
}

.settings .img-2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.settings .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 287px;
  align-items: flex-start;
  gap: 10px;
  padding: 32px 80px;
  position: absolute;
  top: 1323px;
  left: 0;
  background-color: var(--collection-1-color-for-rect);
  border-top-width: 1px;
  border-top-style: solid;
  border-color: var(--neutralneutral-200);
}

.settings .frame-6 {
  display: flex;
  width: 1280px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -16.00px;
}

.settings .frame-7 {
  flex-direction: column;
  width: 306px;
  height: 239px;
  align-items: flex-start;
  gap: 24px;
  display: flex;
  position: relative;
}

.settings .p {
  position: relative;
  align-self: stretch;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #121b6b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.9px;
}

.settings .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: var(--collection-1-text-black);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.9px;
}

.settings .frame-8 {
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.settings .frame-9 {
  align-items: center;
  gap: 8px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.settings .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: var(--body-14-m-font-family);
  font-weight: var(--body-14-m-font-weight);
  color: #121b6b;
  font-size: var(--body-14-m-font-size);
  letter-spacing: var(--body-14-m-letter-spacing);
  line-height: var(--body-14-m-line-height);
  white-space: nowrap;
  font-style: var(--body-14-m-font-style);
}

.settings .frame-10 {
  display: flex;
  flex-direction: column;
  width: 306px;
  height: 239px;
  align-items: flex-start;
  gap: 42px;
  position: relative;
}

.settings .frame-11 {
  display: flex;
  align-items: center;
  gap: 11px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.settings .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: var(--collection-1-primary-v2);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 23.6px;
  white-space: nowrap;
}

.settings .frame-12 {
  display: inline-flex;
  align-items: center;
  gap: 11px;
  position: relative;
  flex: 0 0 auto;
}

.settings .overlap {
  position: absolute;
  width: 192px;
  height: 192px;
  top: 196px;
  left: 120px;
  /* أزلنا background-image و background-size و background-position لأننا بنستخدم img */
}

.settings .plus-sign-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 4px;
  position: relative;
  top: 160px;
  left: 136px;
  background-color: #2a40ff;
  border-radius: 100px;
}

.settings .frame-13 {
  display: flex;
  flex-direction: column;
  width: 1227px;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  top: 436px;
  left: 120px;
}

.settings .text-wrapper-6 {
  width: 1147px;
  height: 26px;
  margin-top: -1.00px;
  font-family: var(--header-24-m-font-family);
  font-weight: var(--header-24-m-font-weight);
  color: var(--foundation-blueblue-900);
  font-size: var(--header-24-m-font-size);
  line-height: var(--header-24-m-line-height);
  position: relative;
  letter-spacing: var(--header-24-m-letter-spacing);
  white-space: nowrap;
  font-style: var(--header-24-m-font-style);
}

.settings .frame-14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.settings .frame-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.settings .frame-16 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.settings .frame-17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.settings .frame-18 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.settings .text-wrapper-7 {
  color: #121b6b;
  font-size: var(--header-18-m-font-size);
  line-height: var(--header-18-m-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--header-18-m-font-family);
  font-weight: var(--header-18-m-font-weight);
  letter-spacing: var(--header-18-m-letter-spacing);
  white-space: nowrap;
  font-style: var(--header-18-m-font-style);
}

.settings .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: var(--body-16-m-font-family);
  font-weight: var(--body-16-m-font-weight);
  color: #2a40ff;
  font-size: var(--body-16-m-font-size);
  letter-spacing: var(--body-16-m-letter-spacing);
  line-height: var(--body-16-m-line-height);
  white-space: nowrap;
  font-style: var(--body-16-m-font-style);
}

.settings .frame-19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.settings .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--body-16-m-font-family);
  font-weight: var(--body-16-m-font-weight);
  color: var(--neutralneutral-500);
  font-size: var(--body-16-m-font-size);
  letter-spacing: var(--body-16-m-letter-spacing);
  line-height: var(--body-16-m-line-height);
  font-style: var(--body-16-m-font-style);
}

.settings .frame-20 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  background-color: var(--neutralneutral-100);
  border-radius: 10px;
}

.settings .frame-21 {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--neutralneutral-500);
  position: relative;
  flex: 0 0 auto;
}

.settings .text-wrapper-10 {
  position: relative;
  width: fit-content;
  font-family: var(--body-16-m-font-family);
  font-weight: var(--body-16-m-font-weight);
  color: #121b6b;
  font-size: var(--body-16-m-font-size);
  letter-spacing: var(--body-16-m-letter-spacing);
  line-height: var(--body-16-m-line-height);
  white-space: nowrap;
  font-style: var(--body-16-m-font-style);
}

.settings .frame-22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.settings .frame-23 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.settings .text-wrapper-11 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--header-18-m-font-family);
  font-weight: var(--header-18-m-font-weight);
  color: #121b6b;
  font-size: var(--header-18-m-font-size);
  letter-spacing: var(--header-18-m-letter-spacing);
  line-height: var(--header-18-m-line-height);
  font-style: var(--header-18-m-font-style);
}

.settings .frame-24 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--neutralneutral-100);
}

.settings .frame-25 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.settings .text-wrapper-12 {
  position: relative;
  width: fit-content;
  font-family: var(--body-16-m-font-family);
  font-weight: var(--body-16-m-font-weight);
  color: var(--neutralneutral-900);
  font-size: var(--body-16-m-font-size);
  text-align: center;
  letter-spacing: var(--body-16-m-letter-spacing);
  line-height: var(--body-16-m-line-height);
  white-space: nowrap;
  font-style: var(--body-16-m-font-style);
}

.settings .frame-26 {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.settings .password-security {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--header-20-SB-font-family);
  font-weight: var(--header-20-SB-font-weight);
  color: var(--foundation-blueblue-900);
  font-size: var(--header-20-SB-font-size);
  letter-spacing: var(--header-20-SB-letter-spacing);
  line-height: var(--header-20-SB-line-height);
  font-style: var(--header-20-SB-font-style);
}

.settings .text-wrapper-13 {
  position: relative;
  width: fit-content;
  font-family: var(--body-16-m-font-family);
  font-weight: var(--body-16-m-font-weight);
  color: var(--neutralneutral-500);
  font-size: var(--body-16-m-font-size);
  letter-spacing: var(--body-16-m-letter-spacing);
  line-height: var(--body-16-m-line-height);
  white-space: nowrap;
  font-style: var(--body-16-m-font-style);
}

.settings .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-16-m-font-family);
  font-weight: var(--body-16-m-font-weight);
  color: #121b6b;
  font-size: var(--body-16-m-font-size);
  letter-spacing: var(--body-16-m-letter-spacing);
  line-height: var(--body-16-m-line-height);
  white-space: nowrap;
  font-style: var(--body-16-m-font-style);
}

.settings .resources {
  align-items: flex-end;
  gap: 16px;
  padding: 16px;
  position: absolute;
  top: 120px;
  left: 1150px;
  background-color: var(--variable-collection-text-white);
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--primaryprimary-50);
  display: inline-flex;
  flex-direction: column;
}

.settings .resources-2 {
  height: 48px;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  position: relative;
  display: inline-flex;
  flex-direction: column;
}

.settings .frame-27 {
  display: flex;
  width: 176px;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--primaryprimary-500);
}

.settings .text-wrapper-15 {
  width: fit-content;
  font-family: var(--body-16-r-font-family);
  font-weight: var(--body-16-r-font-weight);
  color: var(--primaryprimary-900);
  font-size: var(--body-16-r-font-size);
  text-align: center;
  line-height: var(--body-16-r-line-height);
  position: relative;
  letter-spacing: var(--body-16-r-letter-spacing);
  white-space: nowrap;
  font-style: var(--body-16-r-font-style);
}

.settings .resources-3 {
  height: 48px;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  position: relative;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
}

.settings .frame-28 {
  display: flex;
  width: 176px;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--secondary-1secondary-1-500);
}

.settings .text-wrapper-16 {
  position: relative;
  width: fit-content;
  font-family: var(--body-16-r-font-family);
  font-weight: var(--body-16-r-font-weight);
  color: var(--secondary-1secondary-1-500);
  font-size: var(--body-16-r-font-size);
  text-align: center;
  letter-spacing: var(--body-16-r-letter-spacing);
  line-height: var(--body-16-r-line-height);
  white-space: nowrap;
  font-style: var(--body-16-r-font-style);
}

.settings .overlap-group-wrapper {
  position: absolute;
  width: 166px;
  height: 25px;
  top: -10px;
  left: 26px;
}

.settings .overlap-group {
  position: relative;
  width: 167px;
  height: 26px;
  top: -1px;
}

.settings .subtract {
  position: absolute;
  width: 18px;
  height: 26px;
  top: 0;
  left: 149px;
}

.settings .subtract-2 {
  position: absolute;
  width: 166px;
  height: 14px;
  top: 12px;
  left: 0;
}